.extra-title {
  margin-top: 8rem;
}

.labels {
  display: flex;
  justify-content: space-between;

  margin-top: 6rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 5rem;
}