---
import "@fontsource/pt-mono";
import "@fontsource/krona-one";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/700.css";
import Cursor from "@/shared/ui/cursor/cursor.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class='content'>
      <slot />
      <Cursor client:visible />
    </div>
  </body>
</html>

<script>
  import "boxicons";
</script>

<style is:global>
  :root {
    --bg: #21201b;
    --accent: #994edd;
    --secondary: rgba(91, 53, 126, 0.8);
    --text-base: #cbcbcb;
    --text-accent: #ffffff;

    --font-base: "PT Mono", monospace;
    --font-accent: "Krona One", sans-serif;
    --font-accent-2: "IBM Plex Mono", monospace;

    --font-size-base: 1.125rem;

    --transition-duration-base: 200ms;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  html {
    width: 100%;
    min-height: 100vh;

    background-color: var(--bg);
    color: var(--text-base);

    font-family: var(--font-base);
    font-size: var(--font-size-base);

    scrollbar-gutter: stable;
  }

  html * {
    cursor: none !important;
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  a,
  button {
    cursor: pointer;
  }
</style>
